p {
 font-family: cursive;
}
h3 {
font-size:40;
color:black;
text-align: center
fon-family:Comic Sans MS;
}
h2 { 
  text-align: center;
}
body {
  background-color:pink;
}
.row
 text-align: center;
 font-size: 30px;
font-family:fantasy;
}
 .grid {
  display: grid;
  padding:%5;
  grid-template: 100% 100% / 100% 100%;
  
}

.box {
  background-color: white;
  color: black;
  border-radius: 5px;
  border: 2px pink solid;
  text-align: center;
}

