.grid {
  display: grid;
  grid-template 50% 50% / 50% 50%;
  border: 2px green solid;
  width: 600px;
  height: 800px;
  
}

.box {
  background-color: beige;
  color: black;
  border-radius: 5px;
  border: 2px green solid;
}

img{
  max-width: 300px;
  max-height: 200px;
}
