body {
  background-color:pink;
}

.grid {
  display: grid;
  padding: 5%;
  grid-template: 50% 50% / 50% 50%;
  
}

.box {
  background-color: white;
  color: black;
  border-radius: 5px;
  border: 2px pink solid;
  text-align: center;
}

img{
  max-width: 500px;
  max-height: 400px;
  display: block;
  margin: auto;
}
.row{
 text-align: center;
 font-size: 30px;
 font-family:fantasy;
}




