body {
  background-color: pink;
}

.grid {
  display: grid;
  padding: 5%;
  grid-template: auto auto / auto auto;
  
}

.box {
  background-color: white;
  color: black;
  border-radius: 5px;
  border: 2px pink solid;
}

img{
  max-width: 400px;
  max-height: 200px;
}





