.box_a{
 border: 2px solid white;
 max-width: 1000px;
 padding: 40px;
 margin: auto;
    
}

body {
 background-color: pink;
 padding: 5px;
    
}

iframe {    
    width:50%;
    height: auto;  
    float:right;    
}

.clear {    
    clear:both;    
}
.row {
 font-size: 30px;
 font-family:fantasy;
}
