img{
  width:900x;
  height:300px;
  display: block;
  margin: 0 auto;
}
body {
  background-color:pink;
}
.Recpies{
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase
}
header
font-family:'Oswald', sans-serif;
font-size: 20px;
font-colour:Red
