.box_a{
 border: 2px solid white;
 padding: 50px;
 margin: 50px auto;
 max-width: 1000px
}
body {
 background-color: pink;
 
}
 
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.clear {    
    clear:both;    
}
.row{
 text-align: center;
 font-size: 30px;
 font-family:fantasy;
}
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
