.box_a{
 border: 2px solid white;
 padding: 50px;
 margin: 30px auto;
 max-width: 500px
}
body {
 background-color: pink;
}

iframe {    
    width:50%;    
    float:right;    
}

.clear {    
    clear:both;    
}
